--model_path=Qwen/Qwen3-8B
--data_path=/data/workspace/projects/moe/datasets/math_14k
--peft_type=softmoa
--lora_rank=8
--target_modules
q_proj
k_proj
v_proj
o_proj
down_proj
--max_length=300
--batch_size=8
--gradient_accumulation_steps=2
--num_train_epochs=1
--learning_rate=1e-4
--lr_scheduler_type=constant_with_warmup
--warmup_steps=200
--weight_decay=0.0
--seed=125
